{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "flowtype",
    "flowtype-errors",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react/prefer-stateless-function": [
      2, { "ignorePureComponents": true }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": [0, { "forbid": [] }],
    "import/extensions": [1, "never", { "svg": "always" }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-console": 0,  // Use console errors until error logging is set up
    "no-use-before-define": 0, // To define styles at the bottom
    "flowtype-errors/show-errors": 2
  },
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": true
  }
}
